.App {
  text-align: center;
  align-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 175px 900px 175px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-grid {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 180px 180px 180px 180px 180px;
}

.App-grid-item {
  background-color: rgb(183, 199, 243);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.App-grid-item2 {
  background-color: rgba(205, 247, 211, 0.404);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.Grid-item-train {
  background-color: green;
  background: no-repeat 80% url("./resources/bullet-train-bk.svg");
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
}

.Grid-item-skyway {
  background-color: green;
  background: no-repeat 80% url("./resources/skyway-bk.svg");
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
}

.Grid-item-bus {
  background-color: green;
  background: no-repeat 80% url("./resources/bus-bk.svg");
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
}

.Grid-item-car {
  background-color: green;
  background: no-repeat 80% url("./resources/car-bk.svg");
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 10px;
}

.Player-heading {
  font-family: Calibri;
  font-size: 14pt;
  height: 35px;
}

.Left-menu {
  text-align: center;
  align-content: center;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 65px;
  padding: 10px;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-content: center;
  background-color: rgba(46, 112, 57, 0.9);
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  text-align: center;
  align-items: center;
}

.modal-content {
  margin: 50px auto;
  background-color: #fefefe;
  padding: 15px;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
  align-items: center;
}

.modal-body {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-input {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 300px;
}

.modal-footer {
  background-color: #fefefe;
  text-align: center;
  align-items: center;
  display: inline-grid;
}

.modal-btn {
  background-color: rgba(46, 112, 57, 0.9);
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 150px;
}

.Player-heading {
  text-align: center;
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
}

.player-item {
  font-size: 14pt;
  margin-top: 25px;
  margin-bottom: 10px;
}

.player-wallet {
  font-size: 16pt;
  color: green;
}